<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Ingredient Order History Report</title>
    
</head>

<body>
    <div class = "topnav">
        <a>ITISDEV RESTAURANT</a>
        <a href="#about" class="nav-user">MANAGER</a>
        <a href="/home_chef" class="nav-home">HOME</a>
       </div>
    <div id ="content" class="title">
        <h1>Ingredient Order History Report</h1>
        <div class = "line"></div>
        <h4>Date created: <%= Date.today().toString("MMMM dS, yyyy") %> </h4>
        <br>
        
    <!-- Table for View Inventory-->
    <% order_report.forEach(order_report => { %>
      <h2><%= order_report.dateBought %> orders</h2>
      
       
        <table class="table1">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Quantity</th>
            </tr>
            <% orders.forEach(orders => { %>
                <%if(orders.ingredientID == order_report.ingredientID) { %>
                <tr>
                     <td><%= orders.ingredientName %></td>
                    <td><%= orders.ingredientType %></td>
                    <td><%= orders.unitValue %></td>
                    <td><%= orders.unit %></td>
                    <td><%= orders.quantityBought %></td>
                </tr>
                <% }; %> 
            <% }); %> 
        </table>
    <% }); %>

    <h3> *END OF REPORT*</h3>

          </table>
     </div>
          <div class="btn1"><button id="print" class="button1">PRINT REPORT</button></div>
          <script>
            const printBtn = document.getElementById('print');
            printBtn.addEventListener('click', function(){
                print();
            })
          </script>    
    
</body>
</html>