<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="\js\ingredientorderscript.js"></script>
<link rel = "stylesheet" href = "/styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>ITISDEV RESTAURANT</a>
</div>

<div class = "title">
    <h1>End-of-Day Inventory Report</h1>
    <div class = "line"></div>

    <form action = "/reports/ingredient_dailyHistory_report" method ="POST">
    <h2>Filter By:</h2>

    <div class="entry">
        <a>Date</a>
        <select class="dropdown" name ="reportDate" id="reportDate">
            <% ingredient.forEach(ingredient => { %>
                <option  label="<%= ingredient.date %>" value="<%= ingredient.date %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>

    <div class="tableInventory">
        <table>
            <tr>
              <th>Ingredient Name</th>
              <th>End-of-Day Balance</th>
              <th>Unit</th>
            </tr>
            
            <!-- Loops Each ingredient data onto the table-->
            <% ingredient.forEach(ingredient => { %>
                <tr>
                    <td><%= ingredient.ingredientType %></td>
                    <td><%= ingredient.totalUnitValue %></td>
                    <td><%= ingredient.unitID %></td>
                </tr>
            <% }); %> 
          </table>
    </div>
</div>
<div class="btn1"><button class="continue" type="submit" href="/">GENERATE REPORT</button></div>
</form>


</body>
</html>