<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="\js\ingredientorderscript.js"></script>
<link rel = "stylesheet" href = "/styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>RESTAURANT NAME</a>
</div>

<div class = "title">
    <h1>Ingredient Order Report</h1>
    <div class = "line"></div>

    <form action = "/reports/ingredient_order_report" method ="POST">
    <h2>Filter By:</h2>
    <div class="entry">
        <a>Date</a>
        <select class="dropdown" name ="reportDate" id="reportDate">
            <% orderHistory.forEach(orderHistory => { %>
                <option  label="<%= orderHistory.dateBought %>" value="<%= orderHistory.dateBought %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>
    <div class="entry">
        <a>Ingredient Name</a>
        <select class="dropdown" name ="ingredientName" id="ingredientName">
            <% ingredientFirst.forEach(ingredientFirst => { %>
                <option  label="<%= ingredientFirst.ingredientName %>" value="<%= ingredientFirst.ingredientName%>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>
    <div class="entry">
        <a>Ingredient Type</a>
        <select class="dropdown" name ="ingredientType" id="ingredientType">
            <% ingredient.forEach(ingredient => { %>
                <option  label="<%= ingredient.ingredientType %>" value="<%= ingredient.ingredientType%>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>
    <div class="entry">
        <a>Unit</a>
        <select class="dropdown" name ="unit" id="unit">
            <% unit.forEach(unit => { %>
                <option  label="<%= unit.unitName %>" value="<%= unit.unitName%>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>

</div>
<div class="btn1"><button class="continue" type="submit" href="/">GENERATE REPORT</button></div>
</form>




</body>
</html>