<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layouts/styles.css">
    <title>Login</title>
</head>

<body>
    <!--Need to div sizes?, Place checkbox beside the "remember me" text, Add font-->
    <div class="halfgrid">
        <div class="content-half-box">
            <form action="/register" method ="POST">
            <h2>User ID</h2><input type="text" id="userid" name="userid" value="<%= user.userid %>">
            <h2>first Name</h2><input type="text" id="firstname" name="firstname" value="<%= user.firstname %>">
            <h2>Last Name</h2><input type="text" id="lastname" name="lastname" value="<%= user.lastname %>">
            <h2>email</h2><input type="email" id="email" name="email" value="<%= user.email %>">
            <h2>Password</h2><input type="password" id="password" name="password" value="<%= user.password %>">
            <h2>User Type</h2><input type="text" id="usertype" name="usertype" value="<%= user.usertype %>">
            <div>
            Remember Me?<input type="checkbox">
            </div>
            <button type="submit" class="login">Register</button>
            </form>
        </div>
    </div>
</body>

</html>