<!DOCTYPE html>
<html lang="en">

<head>
<link rel = "stylesheet" href = "styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>RESTAURANT NAME</a>
</div>

<div class = "title">
    <h1>Recipe List</h1>
    <div class = "line"></div>
</div>

<!--TODO: Recipe Cards-->
<div>
  <% for (var i = 0; i < recipe.length; i++) { %>
    <button type = "button" class = "collapsible">IDK how to display recipe name</button>
      <div class = "content">
          <table>
            <tr>
              <th>Ingredient</th>
              <th>Amount</th>
              <th>Unit</th>
          </tr>
          <!-- Loops Each ingredient data onto the table-->
          <% for (var y = 0; y < recipe[i].recipeIngredients.length; y++) { %> 
            <tr>
              
              <td><%= recipe[i].recipeIngredients[y].ingredientType %></td>
              <td><%= recipe[i].recipeIngredients[y].unitValue %></td>
              <td><%= recipe[i].recipeIngredients[y].unitName %></td>
              
            </tr>
          <% } %>

          <!--
          <% recipe.forEach(reciIngredients => { %>
            <tr>
                <td><%= recipe.ingredientType %></td>
                <td><%= recipe.unitValue %></td>
                <td><%= recipe.unitName %></td>
            </tr>
          <% }); %> 
          -->
          </table>
      </div>


      <!--<button type = "button" class = "collapsible">Open</button>
      <div class = "content">
          <p>test</p>
      </div>
      <button type = "button" class = "collapsible">Open</button>
      <div class = "content">
          <p>test</p>
      </div>
      <button type = "button" class = "collapsible">Open</button>
      <div class = "content">
          <p>test</p>
      </div> -->
  <% } %>
</div>


<!--Need javascript to make collapsible functional-->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>



</body>
</html>