<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">STOCK CONTROLLER</a>
        <a href="/home_stockctrl" class="nav-home">HOME</a>
    </div> 
    <form action = "/orders/record_firsttime" method="POST">
        <div class="title">
            <h1>Record First Time Purchase</h1>
            <hr>
    
            
           
            <div class="entry"> 
                <a>Ingredient Name </a>
                <!-- Textbox-->
                <input type="text" name="name" value="<%= ingredientorder.name %>">
            </div>
            <div class="entry">
                <a>Ingredient Type</a>
                <!-- Dropdown Menu-->
               <select class="dropdown" name ="ingredientType" id="type">
                <% ingredients.forEach(ingredients => { %>
                    <option  label="<%= ingredients.ingredientType %>" value="<%= ingredients.ingredientType %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
                <% }) %>
              </select>
            </div>
            <div class="entry">
                <a>Net Weight </a>
                <!-- Textbox-->
                <input type="number" name="unitValue" min="1" value="<%= ingredientorder.unitValue %>">
    
       
                <select class="dropdown" name ="unit" id="unit">
                    <% unit.forEach(unit => { %>
                        <option  label="<%= unit.unitName %>" value="<%= unit.unitName %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
                    <% }) %>
                  </select>
                
            </div>
            
    
            
        </div>
        <div class="btn1"><button class="continue" type="submit" href="/record_itempurchase">CONTINUE</button></div>
    

    </form>
    
</body>
</html> 
