<html>

<head>
    <title>Create a Recipe</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="\js\createrecipescript.js"></script>

    <!--In need of a crashcourse before I proceed!!-->

</head>

<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">CHEF</a>
        <a href="/home_chef" class="nav-home">HOME</a>
    </div> 

    <div class="title">
        <h1>Create a Recipe</h1>
        <hr>

        <form action = "/recipes/create_recipe" method="POST">
        <div class="entry"> <!-- Might be changed to form-->
            <a>Recipe Name</a>
            <!-- Textbox--><!-- only changed this and the form -->
            <input type="text" id="recipe_name" name="recipe_name" value="<%= recipename.recipe_name %>">
        </div>

        
        <div class="entry">
            <a>Ingredients Used</a>
            
            <div class="ingredients_in_recipe">
                
                <!--input type="text" id="ingredient_name" name="ingredient_name" placeholder="Ingredient Name"-->
                    <!--Must be dropdown-->
                <select name="ingredient_name" id="ingredient_name">
                    <% recipeingredient.forEach(recipeingredient => { %>
                        <option  label="<%= recipeingredient.ingredientType%>" value="<%= recipeingredient.ingredientType %>">
                    <% }) %>
                </select> 

                <!-- trial amount in the recipe_ingredients -->
                <input type="number" min="1" id="ingredient_value" name="ingredient_value" value="<%= recipeingredient.ingredient_value %>" placeholder="Input in <%= recipeingredient.unit %>s">
                <!--input type="text" id="ingredient_unit" name="ingredient_unit" placeholder="Ingredient Unit"-->
                    <!--Must be dropdown-->
               
            </div>
            
            <button id="add_ingredient" type="button">Click me to add more</button>
                <!--Click so user can add more ingredients-->
    </div>
    
    <button class="continue" type="submit" href="/">CONTINUE</button>
    </form>

</body>
</html>
